main {
    width: 100%;
}
body{
        display: grid;
        box-sizing: border-box;
        font-size: large;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
       
    
}
p{
    font-weight: bold;
}





