
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: italic;
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
  p{
      text-align: center;
  }