@media (min-width: 480px) and (max-width: 767px)
{section {
    margin-top: 35px;
    margin-bottom: 35px;
    color:black;
    font-size: 200%;
    display: grid;
    grid-template-rows: 75px 150px 125px 125px 250px 250px 80px;}}
@media (min-width: 768px){
    section{
        color:black;
        font-size: 35px;
        margin-top: 35px;
        margin-bottom: 35px;
        display: grid;
        grid-template-rows: 960px 200px 380px 380px 190px 190px 760px;}}    
    }
}