/* phone view */
@media screen and (min-width: 480px) and (max-width: 767px) {
    #a{ grid-area: a; }
    #b { grid-area: b; }
    #c { grid-area: c; }
    #d { grid-area: d; }
    #e { grid-area: e; }
    #f { grid-area: f; }
    #g { grid-area: g; }
    #h { grid-area: h; }
    #i { grid-area: i; }
    
    #section {
      grid-template-areas:
        'a a a a a a '
        'b b b b b b'
        'c c c c c c'
        'd d d d d d'
        'e e e f f f'
        'g g g h h h'
        'i i i i i i';
        display: grid;
      
    }
}


/* desktop view */
@media screen and (min-width: 1025px) {
    #a{ grid-area: a; }
    #b { grid-area: b; }
    #c { grid-area: c; }
    #d { grid-area: d; }
    #e { grid-area: e; }
    #f { grid-area: f; }
    #g { grid-area: g; }
    #h { grid-area: h; }
    #i { grid-area: i; }
    
    #section {
      grid-template-areas:
        'a a a a a '
        'b c c d d'
        'b e f g h'
        'b i i i i ';
        display: grid;
      
    }
   
}

/* tableat view  */
@media (min-width: 768px) and (max-width: 1024px) {
    #a{ grid-area: a; }
    #b { grid-area: b; }
    #c { grid-area: c; }
    #d { grid-area: d; }
    #e { grid-area: e; }
    #f { grid-area: f; }
    #g { grid-area: g; }
    #h { grid-area: h; }
    #i { grid-area: i; }
    
    #section {
      grid-template-areas:
        'a a a a a '
        'b c c d d'
        'b e f g h'
        'b i i i i ';
        display: grid;
      
    }
   
}