@media (min-width: 480px) 
{section {
    margin-top:0px;
    margin-bottom: 0px;
    color:black;


}   
 @media (min-width: 768px){
    section{
        color:black;
        margin-top: 0px;
        margin-bottom: 0px;
    
    }
 }}