
/* desktop view   */
@media screen and (min-width: 1025px)  {

    #a{
        
        height: 100px;
        line-height: 75px;
        background-color: rgb(240, 135, 196);
    
    } 
    #b{
        
        height: 600px;
       line-height: 600px;
       background-color: rgb(243, 171, 225);
    }
    #c{
        
        height: 200px;
       line-height: 200px;
       background-color: rgb(236, 148, 203);
    }
    #d{
        
        height: 200px;
       line-height: 200px;
       background-color:rgb(245, 24, 179);
    }
    
    
    #e{
         
        height: 250px;
        line-height: 250px;
        background-color:rgb(243, 137, 229);
       
    
    }
    #f{
        
        height: 250px;
        line-height: 250px;
        background-color:rgb(233, 97, 203);
        
    
    }
    
    #g{
      
        height: 250px;
        line-height: 250px;
        background-color: rgb(212, 30, 158);
       
    }
    #h{
      
        height: 250px;
        line-height: 250px;
        background-color: rgb(230, 22, 150);
    
    }
    
    #i{
       
        height: 150px;
       line-height:150px;
       background-color: rgb(235, 23, 129);
       
    }
}





/* phone view  */
@media screen and (min-width: 150px) and (max-width: 767px) {

    #a{
        
        height: 75px;
        line-height: 75px;
        background-color: rgb(206, 115, 198);
    
    } 
    #b{
        
        height: 150px;
       line-height: 150px;
       background-color: rgb(240, 179, 255);
    }
    #c{
        
        height: 125px;
       line-height: 125px;
       background-color: rgb(230, 134, 243);
    }
    #d{
        
        height: 125px;
       line-height:125px;
       background-color:rgb(217, 150, 238);
    }
    
    
    #e{
         
        height: 250px;
        line-height: 250px;
        background-color:rgb(159, 129, 167);
       
    
    }
    #f{
        
        height: 250px;
        line-height: 250px;
        background-color:rgb(209, 109, 235);
        
    
    }
    
    #g{
      
        height: 250px;
        line-height: 250px;
        background-color: rgb(221, 29, 238);
       
    }
    #h{
      
        height: 250px;
        line-height: 250px;
        background-color: rgb(177, 125, 179);
    
    }
    
    #i{
       
        height: 80px;
       line-height: 80px;
       background-color: rgb(63, 23, 75);
       
    }
}

/* tablet view   */
@media (min-width: 768px) and (max-width: 1024px) {

    #a{
        
        height: 100px;
        line-height:100px;
        background-color: rgb(114, 84, 250);
    
    } 
    #b{
        
        height: 600px;
       line-height: 600px;
       background-color: rgb(108, 132, 209);
    }
    #c{
        
        height: 200px;
       line-height: 200px;
       background-color: rgb(82, 114, 151);
    }
    #d{
        
        height: 200px;
       line-height: 200px;
       background-color:rgb(34, 58, 88);
    }
    
    
    #e{
         
        height: 250px;
        line-height: 250px;
        background-color:rgb(73, 115, 230);
       
    
    }
    #f{
        
        height: 250px;
        line-height: 250px;
        background-color:rgb(80, 144, 170);
        
    
    }
    
    #g{
      
        height: 250px;
        line-height: 250px;
        background-color: rgb(58, 103, 172);
       
    }
    #h{
      
        height: 250px;
        line-height: 250px;
        background-color: rgb(57, 112, 156);
    
    }
    
    #i{
       
        height: 150px;
       line-height: 150px;
       background-color: rgb(53, 116, 187);
       
    }
}
