@media screen and (min-width:767px) {
  .a {
    background-color: rgb(255, 189, 233);
      grid-column: 1/6;
      line-height: 75px;
  }
 .b{
  background-color: rgb(169, 146, 250);
  grid-column: 1/2;
  grid-row: 2/5;
  line-height: 133px;

 }
 .c{
  background-color: rgb(178, 252, 215);
  grid-column: 2/4;
  grid-row: 2/3;
  line-height: 133px;
 }
 .d{
  background-color: rgb(240, 185, 149);
  grid-column: 4/6;
  grid-row: 2/3;
  line-height: 133px;

 }
 .e{
  background-color: rgb(125, 158, 248);
  grid-column: 2/3;
  grid-row: 3/4;
  line-height: 233px;
 }
 .f{
  background-color: rgb(236, 248, 125);
  grid-column:3/4;
  grid-row: 3/4;
  line-height: 233px;
 
}
.g{ background-color: rgb(243, 140, 140);
grid-column:4/5;
grid-row: 3/4;
line-height: 233px;}
.h{
background-color: rgb(92, 151, 115);
grid-column:5/6;
grid-row: 3/4; 
line-height: 233px; 
}
.i{
background-color: rgb(172, 196, 181);
grid-column: 2/6;
  grid-row: 4/5;
line-height: 75px;
}}

/* desktop view  */
@media screen and (max-width: 768px) {
.a {
  background-color: rgb(255, 189, 233);
    grid-row: 1/2;
    grid-column: 1/3;
    line-height: 75px;
}
.b{
background-color: rgb(169, 146, 250);
grid-column: 1/3;
line-height: 133px;

}
.c{
background-color: rgb(178, 252, 215);
grid-column: 1/3;
line-height: 133px;
}
.d{
background-color: rgb(240, 185, 149);
grid-column: 1/3;
line-height: 133px;

}
.e{
background-color: rgb(125, 158, 248);
grid-column: 1/2;
grid-row: 5/6;
line-height: 233px;
}
.f{
background-color: rgb(236, 248, 125);
grid-column: 2/3;
grid-row: 5/6;
line-height: 233px;


}
.g{ background-color: rgb(243, 140, 140);
grid-column: 1/2;
grid-row: 7/6;
line-height: 233px;}
.h{
background-color: rgb(92, 151, 115);
grid-column: 2/3;
grid-row: 7/6; 
line-height: 233px; 
}
.i{
background-color: rgb(172, 196, 181);
grid-column: 1/3;
line-height: 75px;
}}
